<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fyle Backup Application</title>
</head>
<body>
    <div class="container-fluid">
        <div class="main-layout">
            <header class="sidenav-header">
                <div class="site-logo">
                    <img src="{% static 'media/fyle_logo_white_new.png' %}"
                        class="fyle-logo"/>
                </div>
            </header>
            <div class="message">
                {% include 'messages.html' %}
            </div>
            <div class="container-fyle-login">
                <h2>Sign In</h2>
                <form method="post">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="user-name-wrapper">
                        {{ form.email.errors }}
                        {{ form.username }}
                    </div>
                    <div class="password-wrapper">
                        {{ form.password.errors }}
                        {{ form.password }}
                    </div>
                    <button class="btn btn-fyle-login" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#id_username").attr('placeholder', 'Enter your business email here');
            $("#id_password").attr('placeholder', 'Enter your password here');
        });
    </script>
</body>
</html>