.table-layout {
    margin: 10px;
  }
  
  td:hover {
    cursor: pointer;
  }
  
  .table-head {
    background-color: var(--lightGrey);
    text-transform: uppercase;
  }
  
  .actions {
    text-align: center;
  }
  
  .colHeadings {
    font-size: 14px;
  }
  
  .trStyles {
    border-bottom: px solid #d4d4d4;
  }
  
  .trStyles:hover {
    background-color: none !important;
  }
  
  th {
    color: var(--darkGrey) !important;
    vertical-align: middle !important;
  }
  
  .page-item.active .page-link {
      z-index: 0;
      color: #fff;
      background-color: var(--primaryColor);
      border-color: var(--primaryColor);
  }
  
  .page-link {
    color: var(--primaryColor);
  }
  
  .page-link:focus {
      z-index: 0;
      outline: 0;
      box-shadow: none;
  }
  
  .page-item.disabled .page-link {
      color: var(--primaryColor);
      pointer-events: none;
      cursor: auto;
      background-color: #fff;
      border-color: #dee2e6;
  }
  
  .page-link:hover {
      z-index: 0;
      color: var(--primaryColor);
      background-color: var(--lightGrey);
  }
  
  .fixed-bottom {
      position: absolute;
  }
  
  .table {
      margin-bottom: 0;
  }
  
  .table th {
      border-top: None;
  }
  
  .table-responsive {
      position: relative;
  }
  
  .nav-pagination {
      width: 100%;
      display: flex;
      flex-direction: column;
      bottom: 0;
      position: absolute;
      margin-bottom: 1%;
  }
  
  ul.pagination {
      margin-bottom: 0;
  }
  
  .highlight {
      background-color: rgb(255, 0, 0, 0.2);
  }
  
  .checkbox-error {
      display: flex;
      justify-content: space-between;
  }
  
  .error-icon {
      color: var(--primaryColor);
      font-size: 20px;
  }
  
  .view-icon {
      font-size: 22px;
  }