<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fyle Backup Application</title>
</head>
<body>
<div class="container-fluid">
    <div class="main-layout">
        <header class="sidenav-header">
            <div class="site-logo">
                <img src="{% static 'media/fyle_logo_white_new.png' %}"
                      class="fyle-logo"/>
            </div>
        </header>
        <div class="container-fyle-login">
            EXPENSES PAGE
        </div>
    </div>
</div>
</body>
</html>