<table border="0" cellpadding="10" cellspacing="10" align="center" width="100%" style="background-color:#f6f7f9">
    <tbody>
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family:Helvetica,Arial;border-collapse:collapse;background-color:#ffffff;border-radius:4px;border:solid 1px #d8d8d8">
                    <tbody>
                        <tr>
                            <td bgcolor="#f3f5f6" background="https://ci3.googleusercontent.com/proxy/wjcl23LQZ6LTV6yzI-s4NgNDqAbgqiBrrSRyGG_vzF6hwkjgRTZdCONdDniL8akA7_huwcKh5CMX4EpvhzSB_82fiTf3sE_NLwND7zo7lZdOMejlWHciGyL82ke3Dk22eQEgeIEtNBcbBknMJg=s0-d-e1-ft#https://app.fyle.in/app/main/assets/images/email_templates/background_header_fyle_logo.png" style="padding:10px 25px 10px 25px" width="600" height="50">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="https://ci3.googleusercontent.com/proxy/ekCGXTiif2SeHVVagIt7jcNE5NOyUTLXMh_mzM0UTMwy5vRnpgR2f6PYyiKKcUsiMrlW0p12I5Cs1rF1_QCaGb_tSgMuFzqZyb0yoH-mux53XDo3TdY=s0-d-e1-ft#https://app.fyle.in/app/main/assets/images/email_templates/logo.png" alt="Fyle" title="Fyle" style="display:block" height="23" width="67" class="CToWUd">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px 25px 0px 25px">
                                <table width="100%" cellspacing="10">
                                    <tbody>
                                        <tr align="center">
                                            <td>
                                                <img height="100" src="https://ci5.googleusercontent.com/proxy/lplPQC-OzTNA5zv4PyVm8KEcuI6DVbVvrG2LVDGYAjcchVPxNx5HkxV7yOCHiOhjiajTvEJ5hSDo4H7aSE2Z7J16aHIeqNPrZ_00-S-qArxlq-wkH2d8GIdQC8o=s0-d-e1-ft#https://app.fyle.in/app/main/assets/images/email_templates/pdf_export.png" alt="PDF Report" class="CToWUd">
                                            </td>
                                        </tr>
                                        <tr align="center">
                                            <td style="font-size:20px;font-weight:bold">
                                                Backup is ready for download 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="padding:20px 0px 20px 0px">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size:14px;color:#4a4a4a;text-align: center;">
                                                                Please click on the links below to download the corresponding backup. All download links will expire in 7 calendar days from now. The link to download the backup(s) is/are attached to this email.<br>     
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr align="center">
                                            <td>
                                                <table style="padding:0" cellspacing="10">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size:12px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:normal;text-align:center;color:#a5a5a5;padding:20px 0px 0px 0px" colspan="5">
                                                                Experience One Click Easy Fyling
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 5px">
                                                                <a href="https://apps.apple.com/in/app/fyle-track-report-expenses/id1137906166" target="_blank">
                                                                <img alt="Appstore" title="Appstore" src="https://ci6.googleusercontent.com/proxy/9AwF--5wFlgSB59KTNm3hKWkTWTxchUK6DR83lWuMOokzNvUwDeRG9IDvNUshlUEuePA6wnmNTpRVfTtKSJtFdK6oLVKzbbsbYeC7aw0QMJsNk0ydEATlX2QqDg=s0-d-e1-ft#https://app.fyle.in/app/main/assets/images/email_templates/icon_apple.png" height="18" width="16" class="CToWUd">
                                                                </a>
                                                            </td>
                                                            <td style="padding:0px 5px">
                                                                <a href="https://play.google.com/store/apps/details?id=com.ionicframework.fyle595781" target="_blank">
                                                                <img alt="Playstore" title="Playstore" src="https://ci5.googleusercontent.com/proxy/CVuXBnbF48P9_UHQ4yKdoyGy6EM0OSRUNEVkPDMMhIGsRAO1bAXBmrPlbxPu4aYvRpOqZpZ_S2OB5EDLyijHTcJIyqwXBE-4ZDzQKQDrBtLVUvBq9RgpnXe59VUCb6xS=s0-d-e1-ft#https://app.fyle.in/app/main/assets/images/email_templates/icon_playstore.png" height="16" width="16" class="CToWUd">
                                                                </a>
                                                            </td>
                                                            <td style="height:20px;border-left:1px solid #d8d8d8;padding:0px 5px"></td>
                                                            <td style="padding:0px 5px">
                                                                <a href="https://chrome.google.com/webstore/detail/fyle-expense-tracking-rep/abggpefphmldapcoknbcaadbpdjjmjgk" target="_blank">
                                                                <img alt="Gmail" title="Gmail" src="https://ci6.googleusercontent.com/proxy/BNetsZfboRMYIQoDjY8blHvxa4HW6HF-PJ9SnVwKHAtiP4HLzcKDXQAGrNjccAZo-wQ_yeKO-CNCOJpdNPZD6uZ2ABVSIptH7quouAdP_CEbqGnnIul6Da_t1Sg=s0-d-e1-ft#https://app.fyle.in/app/main/assets/images/email_templates/icon_gmail.png" height="18" width="20" class="CToWUd">
                                                                </a>
                                                            </td>
                                                            <td style="padding:0px 5px">
                                                                <a href="https://appsource.microsoft.com/en-us/product/office/WA104380673" target="_blank">
                                                                <img alt="Outlook" title="Outlook" src="https://ci5.googleusercontent.com/proxy/tr8HjpS8hRmN6otK2iGNFbEvcEp7IPvMGGcA5aZPReYJkcKx2GLUKILeA6lKGNPp5lBldxXZzmG5dQU9clFgp3XbFf_xzKqOfb4p4XBxD7b8ThSITyASWo9DPy9WKg=s0-d-e1-ft#https://app.fyle.in/app/main/assets/images/email_templates/icon_outlook.png" height="18" width="16" class="CToWUd">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td background="https://ci5.googleusercontent.com/proxy/kDXiQoNqaVPZSKjceFeixDswVhQFR2TyqLS10GvvWwmFhG5OPWDMsBdL15RNsDIrgdnW5MjPvtuGmrG0haQ0KP23YD74vyOW6qcVUhT82a7R7lIcNgaQdOkqK8DmJ_auYAFl8a_jTqEICFNBqQ=s0-d-e1-ft#https://app.fyle.in/app/main/assets/images/email_templates/background_footer_fyle_logo.png" style="padding:10px 10px 8px 5px;background-color:#f3f5f6">
                                <table align="center">
                                    <tbody>
                                        <tr style="color:#4a4a4a;font-size:12px;font-weight:500;text-align:center;line-height:20px">
                                            <td>
                                                Made with <img goomoji="2764" data-goomoji="2764" style="margin:0 0.2ex;vertical-align:middle;max-height:24px" alt="❤" src="https://mail.google.com/mail/e/2764" data-image-whitelisted="" class="CToWUd">️ from Bangalore
                                            </td>
                                        </tr>
                                        <tr style="color:#4a4a4a;font-size:12px;text-align:center;line-height:20px">
                                            <td>
                                                © 2020 Fyle. All Rights Reserved.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>